<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (!lista){ %>
        <h1>No hay productos</h1>
     <% } else { %> 
        <table> 
            <tr>
                <td><strong>Name</strong></td>
                <td><strong>Price</strong></td>
                <td><strong>Photo</strong></td>
            </tr>
            <%lista.forEach(function(lista){ %>
            <tr>
                
                <td> <strong><%=lista.title%></strong> </td>
                <td><strong><%=lista.price%></strong></td>
                <td><img src= <%= lista.photo %>></td>
                
            </tr>
            <% }) %>
        </table>
        <% } %>
    
</body>
</html>